* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

@font-face {
    font-family: 'Rubik';
    src: url('./Fonts/static/Rubik-Regular.ttf')format(truetype);
}

:root {
    --main-color:#6E38F7;
    --gray:#95A1BB;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 36px;
    font-weight: 500;
}

.subtitle {
    font-size: 18px;
    color: var(--gray);
}

table {
    border-collapse: collapse;
    border: 1px solid #E1E5EE;
    margin-top: 20px;
}

td {
    font-size: 14px;
    text-align: center;
}

td,th {
    width: 241px;
    height: 12px;
    padding: 20px;
}

.left {
    text-align: left;
    font-size: 14px;
}

.bigger {
    height: 96px;
    color: var(--main-color);
}

.fa-check {
    color: var(--main-color);
}

.fa-xmark {
    color: var(--gray);
}

.btn-1 {
    padding: 8px 20px;
    color: var(--main-color);
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid var(--main-color);
}

.btn-2 {
    padding: 10px 37px;
    color: #fff;
    border-radius: 4px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

